@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Permanent+Marker&display=swap");

:root {
	background: #222831; 
}

.appHeader {
  color: azure;
  font-family: "Permanent Marker", cursive;
  font-size: x-large;
  border: solid black 1px;
  padding-left: 20px;
}

.allInputs {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: aliceblue;
	background: #eeeeee; 
  border: 1px solid rgb(35, 42, 42);
}

.single-input {
  border: solid 1px black;
  margin-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-radius: 3px;
  width: 800px;
  height: fit-content;
	background: #0092ca; 
  margin-left: 20px;
}

.allMusclesCheckboxes {
  
}
.inputCheckbox {
  height: 20px;
  width: 40px;
  margin: auto;
  cursor: pointer;
  opacity: 0.6;
}

.formDropdown {
  color: #fdfdfd;
  font-family: "Lato", sans-serif;
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  padding: 8px;
	background: #3a4750; 
}

.workout-summary {
  border: solid 2px black;
  padding: 20px;
  border-radius: 3px;
  width: 800px;
  height: fit-content;
  width: 500px;
	background: #0074a2; 
  margin-left: 40px;
}

.generateButton {
  color: #fdfdfd;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
	background: #0074a2; 
  border-radius: 10px;
  margin-left: 40px;
  display: flex;
}

.workout {
  font-family: "Lato", sans-serif;
  color: #222831;
}
