@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #eeeeee;
}

.navbar {
  background: #222831;
  height: 140px;
  width: 100vw;
  display: flex;
}

@media screen and (max-width: 1428px) {
  .navbar div {
    display: none;
  }
}

.all-nav-links {
  display: flex;
  width: max-content;
  height: fit-content;
  margin-left: 20%;
  margin-top: 55px;
  padding-left: 5%;
}
.nav-link {
  color: #fdfdfd;
  text-decoration: none;
  font-family: "Permanent Marker";
  width: max-content;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  margin-right: 90px;
  transition: all 0.3s ease 0s;
}
.nav-link:hover {
  color: #0092ca;
}

.appHeader {
  color: azure;
  display: flex;
  font-family: "Permanent Marker", cursive;
  font-size: 55px;
  width: 290px;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  text-shadow: 2px 2px rgb(98, 96, 219);
}

.appHeader:hover {
  text-shadow: none;
  background-image: linear-gradient(
    -225deg,
    azure 0%,
    #0092ca 29%,
    #ff1361 67%,
    #f6f6f5 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 0.5s;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.generator-page-ctn {
  display: flex;
  color: aliceblue;
}

.inputs-and-summary {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.allInputs {
  width: max-content;
}

.single-input {
  border: solid 1px black;
  margin-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-radius: 3px;
  width: 800px;
  height: fit-content;
  background: #0092ca;
  margin-left: 20px;
}

.inputCheckbox {
  height: 20px;
  width: 40px;
  cursor: pointer;
  opacity: 0.6;
}

.formDropdown {
  color: #fdfdfd;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 7px;
  background: #3a4750;
}

.workout-summary {
  border: solid 2px black;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  width: 800px;
  height: fit-content;
  width: 500px;
  background: #0074a2;
  margin-left: 40px;
  font-weight: 700;
  font-size: 24px;
  display: flex;
}

.summary-and-workout-ctn {
  height: fit-content;
}

.summary-and-btn-ctn {
  height: fit-content;
}

.generateButton {
  color: #fdfdfd;
  height: fit-content;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  background: #0074a2;
  border-radius: 10px;
  margin-left: 190px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.generateButton:hover {
  background-color: #0092ca;
}

.generateButton:active {
  font-size: 18px;
}

.workout {
  font-family: "Ubuntu", sans-serif;
  color: #222831;
  width: max-content;
  margin-top: 40px;
  font-size: large;
}

.post-gen-page button {
  margin-left: none;
  font-size: small;
  margin-top: 10px;
}

.generator-page-ctn h2 {
  color: #222831;
  font-family: "Ubuntu", sans-serif;
  margin-left: 15px;
  position: absolute;
  text-shadow: 1px 1px #0092ca;
}

@layer components {
  .time-msr {
    @apply border border-white rounded-lg bg-white text-7xl font-medium font-ubuntu mt-5 p-2 mx-5;
  }
}

@layer components {
  .stop-btns button {
    @apply text-white h-100 w-200 font-marker text-2xl font-bold text-center p-5 px-5 rounded-lg cursor-pointer transition-all duration-300 ease-in-out m-5;
  }

  .stop-btns button:hover {
    @apply shadow-text border-obsidian;
  }
}