@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Permanent+Marker&display=swap');

:root {
  background-color: slategrey;
}

.appHeader {
  text-align: center;
  color: azure;
  font-family: 'Permanent Marker', cursive;;
  font-size: xx-large;
}

.allInputs {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 22px
}

.muscleCheckboxes {
  height: 20px;
  width: 40px;
  margin: auto;
  background-color: cadetblue;
  cursor: pointer;
  opacity: 0.6;
}

.formDropdown {
  color: #fdfdfd;
  font-family: 'Lato', sans-serif;
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  padding: 8px;
  background-color: rgb(40, 88, 130);
}

.generateButton {
  color: #fdfdfd;
  font-family: 'Lato', sans-serif;
  font-size: large;
  text-align: center;
  padding: 20px;
  background-color: rgb(40, 88, 130);
}

.workout {
  font-family: 'Lato', sans-serif;


}
